.primary-btn {
    box-sizing: border-box;
    border-radius: 8px;
    height: 40px;
    border: none;
    outline: none;

    span{
        @include label();
    }

    &:hover{
        cursor: pointer;
        filter: brightness(0.9);
    }
}

.primary-btn.verde-btn{
    border: 1px solid $verde-e;
    background-color: $verde;
    transition: .25s ease-in-out;

    &:focus{
        @include box-shadow(0, 0, 1rem, rgba(29, 185, 84, 0.8));
    }

    span{
        color: $branco !important;
    }
}


.primary-btn.amarelo-btn{
    border: 1px solid $amarelo-e;
    background-color: $amarelo;
    transition: .25s ease-in-out;

    &:focus{
        @include box-shadow(0, 0, 1rem, rgba(29, 185, 84, 0.8));
    }

    span{
        color: $branco !important;
    }
}
