.form-container {
    width: 30rem;
    height: 29.25rem;
    border-radius: 0.5rem;
    border: 1px solid $cinza-400;
    padding: 2rem;
    @include box-shadow(0, 0, 1.25rem, rgba(0, 0, 0, 0.1));
    display: flex;
    flex-direction: column;

    .form-titles {
        color: $cinza-600;

        h1,
        p {
            margin-bottom: 2rem;
        }

        margin-bottom: 1rem;
    }

    .form-titles.center {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1,
        p {
            text-align: center;
        }
    }

    form {
        flex: 1 1;
        display: flex;
        flex-direction: column;
        
        .inputs-container {
            flex: 1;
        }
    
        .button-container.center {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

}
